<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <ul class="list-group text-center">
        <li class="list-group-item">
            <span><%= summaryData.get('elementName') %></span>
        </li>
        <li class="list-group-item">
            <% if(summaryData.get('elementValue')) { %>
                <%= summaryData.get('elementValue') %> <%= summaryData.get('elementUnit') %>
            <% } else { %>
                 NA
            <% } %>
        </li>
    </ul>
</div>
